[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
sentence-transformers = "*"
numpy = "*"
openai = "*"
faiss-cpu = "*"
chromadb = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
